/* #BUTTON */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -webkit-appearance: none;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #336791;
    color: #fff;
    border: 0;
    line-height: 1em;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}


/* #BUTTON MOBILE */

@media screen and (max-width: 850px) {

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        font-size: 1.5em;
        width: 100%;
        padding: 0.75em 0 0.75em 0;
        margin-top: 0.5em;
        text-align: center;
    }

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
  	    background: #000;
    }

    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    button:active,
    .button:active {
  	    background: #000;
    }

}


/* #BUTTON DESKTOP */

@media screen and (min-width: 737px) {

    input[type="button"],
    input[type="submit"],
	  input[type="reset"],
	  button,
	  .button {
		    font-size: 1.25em;
		    padding: 0.5em 1.85em;
	  }

	  input[type="button"].big,
	  input[type="submit"].big,
	  input[type="reset"].big,
	  button.big,
	  .button.big {
		    font-size: 1.65em;
		    padding: 0.85em 1.85em;
	  }

}


/* #ALT */

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
    background: #666;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background: #000;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
    background: #000;
}

/* #ALT MOBILE */

@media screen and (max-width: 850px) {

    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
        background: #336791 none repeat scroll 0% 0%;
    }

}


/* #PLANETPOSTGRESQL */

.button.planetPostgresql-container {
    text-align: center;
    display: block;
    width: 20%;
    margin: 0 auto;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button.planetPostgresql {
    font-size: 1.5em;
    width: 100%;
    padding: 0.75em 0 0.75em 0;
    margin-top: 0.5em;
    text-align: center;
}

input[type="button"].planetPostgresql,
input[type="submit"].planetPostgresql,
input[type="reset"].planetPostgresql,
button.planetPostgresql,
.button.planetPostgresql {
	  background: #666;
}

input[type="button"].planetPostgresql:hover,
input[type="submit"].planetPostgresql:hover,
input[type="reset"].planetPostgresql:hover,
button.planetPostgresql:hover,
.button.planetPostgresql:hover {
    background: #000;
}

input[type="button"].planetPostgresql:active,
input[type="submit"].planetPostgresql:active,
input[type="reset"].planetPostgresql:active,
button.planetPostgresql:active,
.button.planetPostgresql:active {
    background: #000;
}


/* #PLANETPOSTGRESQL MOBILE */

@media screen and (max-width: 850px) {

	  .button.planetPostgresql-container {
		    width: 100%;
	  }

}
