/**
* Authors: Joshua Santos, Sarah Conway
* Joshua Santos URI: http://nerdsville.net/
* Sarah Conway URI: http://sarahconway.com/
*
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*
*/


/* #CONTAINERS */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
}

.container.\37 5\25 {
    width: 720px;
}

.container.\35 0\25 {
    width: 480px;
}

.container.\32 5\25 {
    width: 240px;
}

.container {
    width: 960px;
}


/* #FULLSCREEN */

@media screen and (min-width: 737px) {

    .container.\31 25\25 {
        width: 100%;
		    max-width: 1500px;
		    min-width: 1200px;
	    }

    .container.\37 5\25 {
        width: 900px;
    }

    .container.\35 0\25 {
		    width: 600px;
    }

    .container.\32 5\25 {
        width: 300px;
    }

    .container {
        width: 1200px;
    }

}


/* #TABLET */

@media screen and (min-width: 737px) and (max-width: 1200px) {

    .container.\31 25\25 {
		    width: 100%;
		    max-width: 1200px;
		    min-width: 960px;calendarBox
    }

    .container.\37 5\25 {
		    width: 720px;
    }

    .container.\35 0\25 {
		    width: 480px;
    }

    .container.\32 5\25 {
        width: 240px;
    }

    .container {
		    width: 100%;
    }

}


/* #MOBILE */

@media screen and (max-width: 736px) {

    .container.\31 25\25 {
		    width: 100%;
		    max-width: 125%;
		    min-width: 100%;
    }

    .container.\37 5\25 {
		    width: 75%;
    }

    .container.\35 0\25 {
		    width: 50%;
    }

    .container.\32 5\25 {
        width: 25%;
    }

    .container {
        width: 100% !important;
    }

}
