/** #FORMS


form label {
	display: block;
	margin: 0 0 1em 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	border-radius: 8px;
	border: solid 2px #E7EAE8;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
	border-color: #666;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
	line-height: 3em;
	padding: 0 0 1em .5em;
}

form textarea {
	min-height: 9em;
	padding: 1em;
}

form .formerize-placeholder {
	color: #555 !important;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}

*/
