/**
* Authors: Joshua Santos, Sarah Conway
* Joshua Santos URI: http://nerdsville.net/
* Sarah Conway URI: http://sarahconway.com/
*
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*
*/


/* #GRID */

.aboutAltGrid span div {
    background: #336791;
    padding: 3em 0 3em 0;
}

section.box.feature-grid *{
    color: #fff;
    text-align: center;
}

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row.\30 \25 > * {
    padding: 0 0 0 0;
}

.row.\30 \25 {
    margin: 0 0 -1px 0;
}

.row.uniform.\30 \25 > * {
    padding: 0 0 0 0;
}

.row.uniform.\30 \25 {
    margin: 0 0 -1px 0;
}

.row > * {
    padding: 0 0 0 40px;
}

.row {
    margin: 0 0 -1px -40px;
}

.row.uniform > * {
    padding: 40px 0 0 40px;
}

.row.uniform {
    margin: -40px 0 -1px -40px;
}

.row.\32 00\25 > * {
    padding: 0 0 0 60px;
}

.row.\32 00\25 {
    margin: 0 0 -1px -80px;
}

.row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
}

.row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
}

.row.\31 50\25 > * {
    padding: 0 0 0 60px;
}

.row.\31 50\25 {
    margin: 0 0 -1px -60px;
}

.row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
}

.row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
}

.row.\35 0\25 > * {
    padding: 0 0 0 20px;
}

.row.\35 0\25 {
    margin: 0 0 -1px -20px;
}

.row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
}

.row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
}

.row.\32 5\25 > * {
    padding: 0 0 0 10px;
}

.row.\32 5\25 {
    margin: 0 0 -1px -10px;
}

.row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
}

.row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
}

.\31 2u, .\31 2u\24 {
    width: 100%;
    clear: none;
    margin-left: 0;
}

.\31 1u, .\31 1u\24 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 0u, .\31 0u\24 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
}

.\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}

.\38 u, .\38 u\24 {
	  width: 66.6666666667%;
		clear: none;
		margin-left: 0;
}

.\37 u, .\37 u\24 {
	  width: 58.3333333333%;
	  clear: none;
	  margin-left: 0;
}

.\36 u, .\36 u\24 {
	  width: 50%;
	  clear: none;
	  margin-left: 0;
}

.\35 u, .\35 u\24 {
	  width: 41.6666666667%;
	  clear: none;
	  margin-left: 0;
}

.\34 u, .\34 u\24 {
	  width: 33.3333333333%;
	  clear: none;
    margin-left: 0;
}

.\33 u, .\33 u\24 {
    width: 25%;
  	clear: none;
	  margin-left: 0;
}

.\32 u, .\32 u\24 {
	  width: 16.6666666667%;
	  clear: none;
	  margin-left: 0;
}

.\31 u, .\31 u\24 {
	  width: 8.3333333333%;
	  clear: none;
	  margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  	clear: left;
}

.\-11u {
	  margin-left: 91.66667%;
}

.\-10u {
	  margin-left: 83.33333%;
}

.\-9u {
	  margin-left: 75%;
}

.\-8u {
	  margin-left: 66.66667%;
}

.\-7u {
	  margin-left: 58.33333%;
}

.\-6u {
	  margin-left: 50%;
}

.\-5u {
	  margin-left: 41.66667%;
}

.\-4u {
	  margin-left: 33.33333%;
}

.\-3u {
	  margin-left: 25%;
}

.\-2u {
	  margin-left: 16.66667%;
}

.\-1u {
	  margin-left: 8.33333%;
}


/* #FULLSCREEN */

@media screen and (min-width: 737px) {

    .row > * {
        padding: 50px 0 0 20px;
		}

	  .row {
		    margin: -50px 0 -1px -50px;
	  }

	  .row.uniform > * {
		    padding: 50px 0 0 50px;
	  }

	  .row.uniform {
		    margin: -50px 0 -1px -50px;
	  }

	  .row.\32 00\25 > * {
		    padding: 100px 0 0 100px;
	  }

	  .row.\32 00\25 {
		    margin: -100px 0 -1px -100px;
	  }

	  .row.uniform.\32 00\25 > * {
		    padding: 100px 0 0 100px;
	  }

	  .row.uniform.\32 00\25 {
		    margin: -100px 0 -1px -100px;
	  }

	  .row.\31 50\25 > * {
		    padding: 75px 0 0 75px;
	  }

	  .row.\31 50\25 {
		    margin: -75px 0 -1px -75px;
	  }

	  .row.uniform.\31 50\25 > * {
		    padding: 75px 0 0 75px;
	  }

	  .row.uniform.\31 50\25 {
		    margin: -75px 0 -1px -75px;
	  }

	  .row.\35 0\25 > * {
		    padding: 25px 0 1px 1px;
	  }

	  .row.\35 0\25 {
		    margin: -25px 0 -1px 0;
	  }

	  .row.uniform.\35 0\25 > * {
		    padding: 25px 0 0 25px;
	  }

	  .row.uniform.\35 0\25 {
		    margin: -25px 0 -1px -25px;
	  }

	  .row.\32 5\25 > * {
		   padding: 12.5px 0 0 12.5px;
	  }

	  .row.\32 5\25 {
	 	    margin: -12.5px 0 -1px -12.5px;
	  }

	  .row.uniform.\32 5\25 > * {
		    padding: 12.5px 0 0 12.5px;
	  }

	  .row.uniform.\32 5\25 {
		    margin: -12.5px 0 -1px -12.5px;
	  }

	  .\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
		    width: 100%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
		    width: 91.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
		    width: 83.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\39 u\28desktop\29, .\39 u\24\28desktop\29 {
		    width: 75%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\38 u\28desktop\29, .\38 u\24\28desktop\29 {
		    width: 66.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\37 u\28desktop\29, .\37 u\24\28desktop\29 {
		    width: 58.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\36 u\28desktop\29, .\36 u\24\28desktop\29 {
		    width: 50%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\35 u\28desktop\29, .\35 u\24\28desktop\29 {
		    width: 41.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\34 u\28desktop\29, .\34 u\24\28desktop\29 {
		    width: 33.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\33 u\28desktop\29, .\33 u\24\28desktop\29 {
		    width: 25%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\32 u\28desktop\29, .\32 u\24\28desktop\29 {
		    width: 16.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 u\28desktop\29, .\31 u\24\28desktop\29 {
		    width: 8.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 2u\24\28desktop\29 + *,
	  .\31 1u\24\28desktop\29 + *,
	  .\31 0u\24\28desktop\29 + *,
	  .\39 u\24\28desktop\29 + *,
	  .\38 u\24\28desktop\29 + *,
	  .\37 u\24\28desktop\29 + *,
	  .\36 u\24\28desktop\29 + *,
	  .\35 u\24\28desktop\29 + *,
	  .\34 u\24\28desktop\29 + *,
	  .\33 u\24\28desktop\29 + *,
	  .\32 u\24\28desktop\29 + *,
	  .\31 u\24\28desktop\29 + * {
		    clear: left;
	  }

	  .\-11u\28desktop\29 {
		    margin-left: 91.66667%;
	  }

	  .\-10u\28desktop\29 {
		    margin-left: 83.33333%;
	  }

	  .\-9u\28desktop\29 {
		    margin-left: 75%;
	  }

	  .\-8u\28desktop\29 {
		    margin-left: 66.66667%;
	  }

	  .\-7u\28desktop\29 {
		    margin-left: 58.33333%;
	  }

	  .\-6u\28desktop\29 {
		    margin-left: 50%;
	  }

	  .\-5u\28desktop\29 {
		    margin-left: 41.66667%;
	  }

	  .\-4u\28desktop\29 {
		    margin-left: 33.33333%;
	  }

	  .\-3u\28desktop\29 {
		    margin-left: 25%;
	  }

	  .\-2u\28desktop\29 {
	 	    margin-left: 16.66667%;
	  }

	  .\-1u\28desktop\29 {
		    margin-left: 8.33333%;
	  }

}


/* #TABLET */

@media screen and (min-width: 737px) and (max-width: 1200px) {

    .row > * {
		    padding: 25px 0 0 25px;
		}

		.row {
			  margin: -25px 0 -1px -25px;
	  }

	  .row.uniform > * {
		    padding: 25px 0 0 25px;
	 }

	  .row.uniform {
		    margin: -25px 0 -1px -25px;
	  }

	  .row.\32 00\25 > * {
		    padding: 50px 0 0 50px;
	  }

	  .row.\32 00\25 {
		    margin: -50px 0 -1px -50px;
	  }

	  .row.uniform.\32 00\25 > * {
		    padding: 50px 0 0 50px;
	  }

	  .row.uniform.\32 00\25 {
		    margin: -50px 0 -1px -50px;
	  }

	  .row.\31 50\25 > * {
	      padding: 37.5px 0 0 37.5px;
	  }

	  .row.\31 50\25 {
		    margin: -37.5px 0 -1px -37.5px;
	  }

	  .row.uniform.\31 50\25 > * {
		    padding: 37.5px 0 0 37.5px;
	  }

	  .row.uniform.\31 50\25 {
		    margin: -37.5px 0 -1px -37.5px;
	  }

	  .row.\35 0\25 > * {
		    padding: 12.5px 0 0 12.5px;
	  }

	  .row.\35 0\25 {
		    margin: -12.5px 0 -1px -12.5px;
	  }

	  .row.uniform.\35 0\25 > * {
		    padding: 12.5px 0 0 12.5px;
	  }

	  .row.uniform.\35 0\25 {
		    margin: -12.5px 0 -1px -12.5px;
	  }

	  .row.\32 5\25 > * {
		    padding: 6.25px 0 0 6.25px;
	  }

	  .row.\32 5\25 {
		    margin: -6.25px 0 -1px -6.25px;
	  }

	  .row.uniform.\32 5\25 > * {
		    padding: 6.25px 0 0 6.25px;
	  }

	  .row.uniform.\32 5\25 {
		    margin: -6.25px 0 -1px -6.25px;
	  }

	  .\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
		    width: 100%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
		    width: 91.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
		    width: 83.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\39 u\28tablet\29, .\39 u\24\28tablet\29 {
		    width: 75%;
		    clear: none;
		    margin-left: 0;
	  }

	 .\38 u\28tablet\29, .\38 u\24\28tablet\29 {
		    width: 66.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\37 u\28tablet\29, .\37 u\24\28tablet\29 {
		    width: 58.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\36 u\28tablet\29, .\36 u\24\28tablet\29 {
		    width: 50%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\35 u\28tablet\29, .\35 u\24\28tablet\29 {
		    width: 41.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\34 u\28tablet\29, .\34 u\24\28tablet\29 {
		    width: 33.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\33 u\28tablet\29, .\33 u\24\28tablet\29 {
		    width: 25%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\32 u\28tablet\29, .\32 u\24\28tablet\29 {
		    width: 16.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 u\28tablet\29, .\31 u\24\28tablet\29 {
		    width: 8.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 2u\24\28tablet\29 + *,
	  .\31 1u\24\28tablet\29 + *,
	  .\31 0u\24\28tablet\29 + *,
	  .\39 u\24\28tablet\29 + *,
	  .\38 u\24\28tablet\29 + *,
	  .\37 u\24\28tablet\29 + *,
	  .\36 u\24\28tablet\29 + *,
	  .\35 u\24\28tablet\29 + *,
	  .\34 u\24\28tablet\29 + *,
	  .\33 u\24\28tablet\29 + *,
	  .\32 u\24\28tablet\29 + *,
	  .\31 u\24\28tablet\29 + * {
		    clear: left;
	  }

	  .\-11u\28tablet\29 {
		    margin-left: 91.66667%;
	  }

	  .\-10u\28tablet\29 {
		    margin-left: 83.33333%;
	  }

	  .\-9u\28tablet\29 {
		    margin-left: 75%;
	  }

	  .\-8u\28tablet\29 {
		    margin-left: 66.66667%;
	  }

	  .\-7u\28tablet\29 {
		    margin-left: 58.33333%;
	  }

	  .\-6u\28tablet\29 {
		    margin-left: 50%;
	  }

	  .\-5u\28tablet\29 {
		    margin-left: 41.66667%;
	  }

	  .\-4u\28tablet\29 {
		    margin-left: 33.33333%;
	  }

	  .\-3u\28tablet\29 {
		    margin-left: 25%;
	  }

	  .\-2u\28tablet\29 {
		    margin-left: 16.66667%;
	  }

	  .\-1u\28tablet\29 {
		    margin-left: 8.33333%;
	  }

}


/* #MOBILE */

  @media screen and (max-width: 736px) {
	  .mobile-pad {
		      padding: 40px 0 0;
	  }

    .row > * {
		    padding: 20px 0 0 0;
	  }

    .padding-left-mobile {
	      padding-left: 20px;
	  }

    .row {
		    margin: -20px 0 -1px -20px;
	  }

	  .row.uniform > * {
		    padding: 20px 0 0 20px;
	  }

	  .row.uniform {
		    margin: -20px 0 -1px -20px;
	  }

	  .row.\32 00\25 {
	      margin: -40px 0 -1px -40px;
    }

	  .row.uniform.\32 00\25 > * {
		    padding: 40px 0 0 40px;
	  }

	  .row.uniform.\32 00\25 {
		    margin: -40px 0 -1px -40px;
	  }

    .row.\31 50\25 > * {
	      padding: 30px 0 0 30px;
	  }

	  .row.\31 50\25 {
		    margin: -30px 0 -1px -30px;
	  }

	  .row.uniform.\31 50\25 > * {
		    padding: 30px 0 0 30px;
	  }

	  .row.uniform.\31 50\25 {
	      margin: -30px 0 -1px -30px;
	  }

	  .row.\35 0\25 > * {
		    padding: 10px 0 0 10px;
	  }

	  .row.\35 0\25 {
		    margin: -10px 0 -1px -10px;
	  }

	  .row.uniform.\35 0\25 > * {
		    padding: 10px 0 0 10px;
	  }

	  .row.uniform.\35 0\25 {
		    margin: -10px 0 -1px -10px;
	  }

    .row.\32 5\25 > * {
	      padding: 5px 0 0 5px;
	  }

	  .row.\32 5\25 {
		    margin: -5px 0 -1px -5px;
	  }

	  .row.uniform.\32 5\25 > * {
		    padding: 5px 0 0 5px;
	  }

	  .row.uniform.\32 5\25 {
		    margin: -5px 0 -1px -5px;
	  }

	  .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
	      width: 100%;
	      clear: none;
	      margin-left: 0;
    }

    .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
	      width: 91.6666666667%;
	      clear: none;
	      margin-left: 0;
    }

    .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
	      width: 83.3333333333%;
	      clear: none;
	      margin-left: 0;
    }

	  .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
	      width: 75%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
	      width: 66.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
		    width: 58.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
		    width: 50%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
	      width: 41.6666666667%;
	      clear: none;
	      margin-left: 0;
	  }

	  .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
	      width: 33.3333333333%;
	      clear: none;
	      margin-left: 0;
	  }

	  .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
		    width: 25%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
		    width: 16.6666666667%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
		    width: 8.3333333333%;
		    clear: none;
		    margin-left: 0;
	  }

	  .\31 2u\24\28mobile\29 + *,
	  .\31 1u\24\28mobile\29 + *,
    .\31 0u\24\28mobile\29 + *,
    .\39 u\24\28mobile\29 + *,
	  .\38 u\24\28mobile\29 + *,
	  .\37 u\24\28mobile\29 + *,
	  .\36 u\24\28mobile\29 + *,
	  .\35 u\24\28mobile\29 + *,
	  .\34 u\24\28mobile\29 + *,
	  .\33 u\24\28mobile\29 + *,
	  .\32 u\24\28mobile\29 + *,
	  .\31 u\24\28mobile\29 + * {
	      clear: left;
	  }

	  .\-11u\28mobile\29 {
	      margin-left: 91.66667%;
	  }

	  .\-10u\28mobile\29 {
	      margin-left: 83.33333%;
	  }

	  .\-9u\28mobile\29 {
	      margin-left: 75%;
	  }

	  .\-8u\28mobile\29 {
		    margin-left: 66.66667%;
	  }

	  .\-7u\28mobile\29 {
	      margin-left: 58.33333%;
	  }

	  .\-6u\28mobile\29 {
		    margin-left: 50%;
	  }

	  .\-5u\28mobile\29 {
		    margin-left: 41.66667%;
	  }

	  .\-4u\28mobile\29 {
		    margin-left: 33.33333%;
	  }

	  .\-3u\28mobile\29 {
		    margin-left: 25%;
	  }

	  .\-2u\28mobile\29 {
		    margin-left: 16.66667%;
	  }

	  .\-1u\28mobile\29 {
	      margin-left: 8.33333%;
	  }

	  .box.post h3, .box.post .meta,
	  .box.post-summary h3, .box.post-summary .meta,
    .box.post-centered h3, .box.post-centered .meta,
    #footer section, #footer .major  {
	      text-align: center;
    }

	  .box.features {
	      margin-top: 10px;
    }

}
