/**
* Authors: Joshua Santos, Sarah Conway
* Joshua Santos URI: http://nerdsville.net/
* Sarah Conway URI: http://sarahconway.com/
*
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*
*/

@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

/* #RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table, th, td {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 3em;
    border: 1px solid black;
    padding: 1em 1em;
}

body {
    -webkit-text-size-adjust: none;
}

/* #BOX MODEL */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* #ALTERNATING COLOR BOXES */

/**
* Both of the below are used on mailinglists.html under the "Subscribe" section.
*/

.color {
    background-color: #fff;
    padding: 2em 0 3em 0;
}

.coloralt {
    background-color: #e7eae8;
    padding: 3em 3em 4em 4em;
    border-radius: 1em;
}

.coloralt h3 {
    font-size: 1.1em;
}

.coloralt .row {
    margin: 0;
}

.emailInput {
    padding-right: 1em;
}


/* #BASIC */

body {
    background: #f2f5f3;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  color: #666;
	  font-size: 11.5pt;
	  line-height: 2em;
}

body.is-loading * {
	  -moz-transition: none !important;
	  -webkit-transition: none !important;
	  -ms-transition: none !important;
	  transition: none !important;
	  -moz-animation: none !important;
	  -webkit-animation: none !important;
	  -ms-animation: none !important;
	  animation: none !important;
}

input, textarea, select {
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  color: #666;
	  font-size: 11.5pt;
	  line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: 'Open Sans Condensed', sans-serif;
	  font-weight: 700;
	  text-transform: uppercase;
	  color: #666;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	  text-decoration: none;
	  color: inherit;
}

h2.major {
	  position: relative;
	  border-top: solid 5px #e7eae8;
}

h2.major span {
  	background: #fff;
  	position: relative;
	  display: inline-block;
}

h3.major {
	  position: relative;
	  border-top: solid 5px #e7eae8;
}

h3.major span {
  	background: #fff;
  	position: relative;
  	display: inline-block;
}

a {
	  color: #006376;
	  text-decoration: none;
}

a:hover {
	  text-decoration: none;
}

b, strong {
	  font-weight: 700;
  	color: #666;
}

i, em {
	  font-style: italic;
}

br.clear {
	  clear: both;
}

sub {
	  position: relative;
	  top: 0.5em;
	  font-size: 0.8em;
}

sup {
  	position: relative;
  	top: -0.5em;
  	font-size: 0.8em;
}

hr {
  	border: 0;
	  border-top: solid 2px #E7EAE8;
	  margin: 0 0 3em 0;
}

p, ul, ol, dl, table {
	  margin-bottom: 3em;
}


/* #BLOCKQUOTE */

blockquote {
	  border-left: solid 5px #E7EAE8;
	  padding: 1em 4em 3em .5em;
	  font-style: italic;
}

.item blockquote {
	  border-left: none;
	  margin: 0;
}

.item blockquote img {
  	margin-bottom: 10px;
}

.item blockquote p:before {
  	content: "\f10d";
	  font-family: 'Fontawesome';
	  float: left;
  	margin-right: 10px;
}


/* #SECTION, #ARTICLE */

section, article {
  	margin-bottom: 6em;
}

section > :last-child, section:last-child, article > :last-child, article:last-child {
  	margin-bottom: 0;
}

header > p {
	  display: block;
	  font-family: 'Open Sans Condensed', sans-serif;
	  font-weight: 700;
	  text-transform: uppercase;
	  color: #666;
}

/* #FEATURED SECTIONS */

.margin-1-bottom {
  	margin-bottom: 1em;
}

.feature {
	  text-align: center;
}


/* #RELEASE BOX */

/**
* Used on index.html.
*/

.releaseBox {
  	background-color: #e7eae8;
	  height: 2em;
}

.releaseBoxAlt {
	  background-color: #fff;
	  height: 2em;
}


/* #CALENDAR BOXES */

/**
* Used on index.html.
*/

.calendarBox {
	  background-color: #e7eae8;
	  height: 4.1em;
}

.calendarBoxAlt {
	  background-color: #fff;
	  height: 4.1em;
}


/* #CALENDAR BOXES TABLET */

@media screen and (min-width: 737px) and (max-width: 1200px) {
	  .calendarBox, .calendarBoxAlt {
		    height: 5em !important;
	  }
}

/* #LIST */

ul.default {
  	list-style: disc;
  	padding-left: 1em;
}

ul.default li {
	  padding-left: 0.5em;
}

ul.divided > li {
	  border-top: solid 2px #e7eae8;
	  padding-top: 2.35em;
	  margin-top: 2.35em;
}

ul.divided-right > li {

}

ul.divided > li:first-child {
	  border-top: 0;
	  padding-top: 0;
	  margin-top: 0;
}

ul.actions li {
	  display: inline-block;
	  margin: 0 0 0 1em;
}

ul.actions li:first-child {
  	margin-left: 0;
}

ul.contact {
  	cursor: default;
}

ul.contact li {
	  -moz-transition: top .15s ease-in-out;
	  -webkit-transition: top .15s ease-in-out;
	  -ms-transition: top .15s ease-in-out;
	  transition: top .15s ease-in-out;
	  position: relative;
	  display: inline-block;
	  margin: 0 0.25em 0 0.25em;
  	top: 0;
}

ul.contact li a {
  	-moz-transition: background-color .2s ease-in-out;
  	-webkit-transition: background-color .2s ease-in-out;
	  -ms-transition: background-color .2s ease-in-out;
	  transition: background-color .2s ease-in-out;
	  display: block;
	  position: relative;
	  width: 48px;
	  height: 48px;
	  border-radius: 6px;
	  outline: 0;
	  background: #666;
	  text-align: center;
}

ul.contact li a:before {
	  color: #f2f5f3;
	  font-size: 32px;
	  line-height: 48px;
}

ul.contact li:hover {
  	top: -5px;
}

ul.contact li:hover a.fa-facebook {
  	background-color: #3C5A98;
}

ul.contact li:hover a.fa-twitter {
  	background-color: #2DAAE4;
}

ul.contact li:hover a.fa-github {
	  background-color: #000;
}

ul.contact li:hover a.fa-linkedin {
	  background-color: #006599;
}

ul.contact li:hover a.fa-instagram {
	  background-color: #2E5E86;
}

ul.contact li:hover a.fa-google-plus {
	  background-color: #DA2713;
}

ul.contact li:active {
	  top: 0;
}

ul.special {
  	cursor: default;
}

ul.special li {
	  -moz-transition: top .15s ease-in-out;
	  -webkit-transition: top .15s ease-in-out;
	  -ms-transition: top .15s ease-in-out;
	  transition: top .15s ease-in-out;
	  position: relative;
	  display: inline-block;
	  margin: 0 1.5em 0 1.5em;
	  top: 0;
}

ul.special li:hover {
	  top: -10px;
}

ul.special li:hover a {
	  background: #b9d2ce;
}

ul.special a {
	  -moz-transition: background-color .2s ease-in-out;
	  -webkit-transition: background-color .2s ease-in-out;
	  -ms-transition: background-color .2s ease-in-out;
	  transition: background-color .2s ease-in-out;
	  display: block;
	  position: relative;
	  background: #666;
	  width: 12em;
	  height: 12em;
	  border-radius: 6em;
	  outline: 0;
}

ul.special a:before {
	  position: absolute;
	  width: 128px;
	  height: 128px;
	  font-size: 96px;
	  line-height: 128px;
	  left: 50%;
    margin: -64px 0 0 -64px;
  	top: 50%;
	  color: #fff;
	  text-align: center;
}

ul.meta {
	  font-size: 0.85em;
	  color: #a1aaa5;
}

ul.meta li {
	  position: relative;
	  display: inline-block;
	  margin-left: 1em;
}

ul.meta li a {
	  color: inherit;
	  outline: 0;
}

ul.meta li:first-child {
	  margin-left: 0;
}

ul.meta li:before {
  	opacity: 0.5;
  	cursor: default;
  	margin-right: 0.5em;
}

ul.menu li {
  	border-left: solid 1px #e7eae8;
	  display: inline-block;
	  padding: 0 0 0 0.75em;
	  margin: 0 0 0 0.75em;
}

ul.menu li:first-child {
	  border-left: 0;
	  margin-left: 0;
	  padding-left: 0;
}

ol.default {
	  list-style: decimal;
	  padding-left: 1.25em;
}

ol.default li {
	  padding-left: 0.25em;
}


/* #TABLES */

table {
		width: 100%;
}

table.default {
		width: 100%;
}

table.default tr {
		border-top: solid 2px #E7EAE8;
}

table.default tr:first-child {
		border-top: 0;
}

table.default td {
		padding: 0.5em 1em 0.5em 1em;
}

table.default th {
		text-align: left;
		padding: 0.5em 1em 0.5em 1em;
		margin: 0 0 1em 0;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #666;
}

table.default thead {
		background: #E7EAE8;
		color: #fff;
}


/* #BOX HIGHLIGHT */

.box.highlight {
		text-align: center;
}


/* #ICONS */

.icon {
		position: relative;
		text-decoration: none;
}

.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
}

.icon > .label {
		display: none;
}


/* #WRAPPERS */

#banner-wrapper {
		position: relative;
		background-image: url("images/overlay.png"), url("images/overlay.png"), url("../../images/banner.jpg");
		background-position: top left, top left, center center;
		background-repeat: repeat, repeat, no-repeat;
		background-size: auto, auto, cover;
		z-index: 1;
}

#main-wrapper {
		background: #fff;
		border-top: 5px solid #336791;
		border-bottom: solid 5px #666;
}

#main-wrapper-about {
		background: #fff;
		border-bottom: solid 5px #666;
}


/* #BANNER */

#banner {
		position: relative;
		background-color: rgba(102, 102, 102, 0.70);
		background-image: url("images/overlay.png"), url("images/highlight.png");
		background-position: top left, center center;
		background-size: auto, 100% 250%;
		background-repeat: repeat, no-repeat;
		text-align: center;
		margin: 0;
}

#banner h2 {
		color: #fff;
}

#banner p {
		display: block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
}

#banner .button {
		-moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
		-webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
		-ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
		transition: border-color .2s ease-in-out, color .2s ease-in-out;
		color: #b4b7b5;
		background: transparent !important;
		border: solid 4px #fff;
		border-color: #b4b7b5;
		border-radius: 16px;
}

#banner .button:hover {
		color: #e4e7e5;
		border-color: rgba(255, 255, 255, 0.75);
}

#banner .button:active {
		color: #fff;
		border-color: #fff;
}


/* #FOOTER */

#footer a {
		color: inherit;
}

#footer h2.major span {
		background: #f2f5f3;
}

#footer h3.major span {
		background: #f2f5f3;
}


/* #DESKTOP */

@media screen and (min-width: 737px) {

		/* #BASIC DESKTOP */

		h1, h2, h3, h4, h5, h6 {
				margin: 0 0 0.5em 0;
		}

		h2 {
				font-size: 1.65em;
		}

		h2.major {
				font-size: 1.65em;
				text-align: center;
				margin: 0 0 3em 0;
		}

		h2.major span {
				top: -0.775em;
				padding: 0 1.5em 1.5em 1.5em;
		}

		h3.major {
				text-align: left;
				margin: 0 0 1em 0;
		}

		h3.major span {
				top: -0.775em;
				padding: 0 1.5em 0 0;
		}

		h3, h4 {
				font-size: 1.25em;
		}


		/* #LIST DESKTOP */

		ul.actions {
				text-align: center;
				margin: 2em 0 0 0;
		}


		/* #BOX DESKTOP */

		.box.highlight .special {
				margin: 0 0 4em 0;
		}

		.box.highlight h2 {
				font-size: 3em;
				margin: 0 0 0.75em 0;
		}

		.box.highlight header > p {
				font-size: 1.65em;
				margin: 0 0 1.5em 0;
		}

		.box.feature {
				text-align: center;
		}

		.box.feature > div {
				height: 220px;
		}

		.box.feature.date {
				display: block;
				width: 68px;
				height: 68px;
				text-align: center;
				background: #e7eae8;
				text-transform: uppercase;
		}

		.box.feature.event{
				padding: 2em 1.5em;
		}

		.box.post header {
				margin: 0 0 2.5em 0;
		}

		.box.post h3 {
				font-size: 3em;
				margin: 0 0 0.5em 0;
		}

		.box.post header > p {
				font-size: 1.65em;
				margin: 0 0 0.5em 0;
		}

		.box.post ul.meta {
				margin: 0 0 0.5em 0;
		}

		.box.post-summary h3 {
				line-height: 1em;
				margin: 0 0 0.75em 0;
		}

		.box.post-summary .meta {
				margin: 0;
				line-height: 1em;
		}

		.box.post-centered h3 {
				line-height: 1em;
				margin: 0 0 0.75em 0;
				text-align: center;
		}

		.box.post-centered .meta {
				margin: 0;
				line-height: 1em;
				text-align: center;
		}

		.box.post-centered a li:hover, .box.post-centered li.active {
				color: #000;
		}

		.box.post-centered li:hover a {
				color: #000;
		}

		.box.post-centered a:hover {
				color: #000;
		}

		.box.page-content header {
				margin: 0 0 2.5em 0;
		}

		.box.page-content h2 {
				font-size: 3em;
				margin: 0 0 0.5em 0;
		}

		.box.page-content header > p {
				margin: 0 0 0.5em 0;
				font-size: 1.65em;
		}

		.box.page-content ul.meta {
				margin: 0 0 0.5em 0;
		}


		/* #SIDEBAR DESKTOP */

		.sidebar {
				padding-top: 0.5em;
		}

		.homepage .sidebar {
				padding-top: 0;
		}

		.sidebar h2.major {
				text-align: left;
				margin: 0 0 1em 0;
		}

		.sidebar h2.major span {
				padding: 0;
		}


  	/* #CONTENT DESKTOP */

		.content-left {
				padding-right: 2em;
		}

		.content-right {
				padding-left: 2em;
		}

		.content-centered {
				padding: 0 0 0 0;
		}


		/* #WRAPPERS DESKTOP */

		#banner-wrapper {
				padding: 14em 0;
		}

		#main-wrapper {
				border-top-width: 35px;
				border-bottom-width: 10px;
		}


		/* #HEADER DESKTOP */

		#header {
				text-align: center;
				font-size: 2em;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				background: #fff;
				margin: 0 auto;
		}

		#header .logo {
				position: relative;
				text-align: center;
				border-top: solid 5px #e7eae8;
		}

		#header .logo div {
				background: #fff;
				position: relative;
				display: inline-block;
				padding: 0 1.5em 0 1.5em;
				top: -0.65em;
		}

		#header .logo h1 {
				display: inline;
		}

		#header .logo p {
				display: inline;
				color: #264d6d;
		}


		/* #NAV DESKTOP */

		#nav {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 1000;
				background-color: rgba(255, 255, 255, 0.95);
				background-image: url("images/overlay.png");
				width: 100%;
				height: 3.25em;
				line-height: 3.25em;
				text-align: center;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				cursor: default;
	  }

  	#nav ul {
				position: relative;
				z-index: 1001;
  	}

	  #nav li {
				display: inline-block;
				margin: 0 0.5em 0 0.5em;
				top: 0;
				position: relative;
				-moz-transition: top .15s ease-in-out;
				-webkit-transition: top .15s ease-in-out;
				-o-transition: top .15s ease-in-out;
				-ms-transition: top .15s ease-in-out;
				transition: top .15s ease-in-out;
  	}

	  #nav li > ul {
				display: none;
  	}

	  #nav li a, #nav li span {
				-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				transition: background-color .075s ease-in-out, color .075s ease-in-out;
				position: relative;
				display: block;
				text-decoration: none;
				color: #666;
				top: -6px;
				padding: 6px 1.5em 0.25em 1.5em;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				outline: 0;
  	}

	  #nav a li:hover, #nav li.active {
				top: 3px;
  	}

	  #nav li:hover a {
				background: #264d6d;
				color: #fff;
  	}

	  #nav li.active a {
				background: #264d6d;
				color: #fff;
  	}

	  #nav li.current a {
				background: #336791;
				color: #fff;
  	}

    .header img {
				width: 2em;
				vertical-align: middle;
  	}

    .header.images img {
				width: 1.1em;
				margin: -10px 0 0 10px;
				vertical-align: middle;
  	}

	  .dropotron {
				background: #666;
				color: #fff;
				border-radius: 6px;
				line-height: 2.75em;
				text-align: center;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				padding: 1em 0;
				text-align: left;
				min-width: 14em;
				box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
				margin-top: -1em;
  	}

	  .dropotron li > a, .dropotron li > span {
				display: block;
				color: #d7dad8;
				text-decoration: none;
				padding: 0 1.25em;
  	}

	  .dropotron li:hover > a, .dropotron li:hover > span {
				color: #fff;
				background: #688297;
  	}

	  .dropotron li.active > a, .dropotron li.active > span {
				color: #fff;
				background: #688297;
  	}

	  .dropotron li:first-child {
				border-top: 0;
	  }

	  .dropotron.level-0 {
				margin-top: 1em;
				font-size: 0.9em;
  	}

	  .dropotron.level-0:before {
				content: '';
				position: absolute;
				margin-left: -1em;
				left: 50%;
				top: -0.65em;
				border-left: solid 1em transparent;
				border-bottom: solid 1em #666;
				border-right: solid 1em transparent;
	  }


  	/* #BANNER DESKTOP */

	  #banner {
				padding: 2em 0 2em 0;
  	}

	  #banner h2 {
				font-size: 2.5em;
				margin: 0 0 0.75em 0;
  	}

	  #banner p {
				font-size: 1.35em;
				margin: 0 0 1.25em 0;
  	}

	  #banner .button {
				font-size: 1.5em;
  	}


	  /* #MAIN DESKTOP */

	  #main {
				padding: 6em 0 6em 0;
	  }


  	/* #FOOTER DESKTOP */

	  #footer {
				text-align: center;
				padding: 8em 0 8em 0;
	  }

	  #footer h2.major {
				margin: 0 0 1em 0;
	  }

}


/* #TABLET */

@media screen and (min-width: 737px) and (max-width: 1200px) {


	/* #BASIC TABLET */

	  body {
				/*min-width: 960px;*/
				font-size: 10.25pt;
				line-height: 1.75em;
	  }

	  input, textarea, select {
				font-size: 10.25pt;
				line-height: 1.75em;
	  }

	  h2.major {
				margin: 0 0 2em 0;
  	}

	  h2.major span {
				top: -0.75em;
				padding: 0 1em 0 1em;
	  }

	  h3.major {
				margin: 0 0 1em 0;
  	}

	  h3.major span {
				top: -0.75em;
				padding: 0 1em 0 0;
  	}


  	/* #WRAPPERS TABLET */

	  #banner-wrapper {
				padding: 6em 0 6em 0;
  	}

	  #main-wrapper {
				border-top-width: 20px;
				border-bottom-width: 10px;
	  }


	  /* #HEADER TABLET */

	  #header {
				padding: 4em 0 1em 0;
	  }


	  /* #BANNER TABLET */

  	#banner {
				padding: 3.5em 0 3em 0;
	  }

	  #banner h2 {
				margin: 0 0 0.65em 0;
	  }

	  #banner p {
				margin: 0 0 1em 0;
  	}


	  /* #MAIN TABLET */

	  #main {
				padding: 3em 0 2em 0;
  	}

	  #main > .row {
				padding: 2em 0 2em 0;
	  }


  	/* #FOOTER TABLET */

	  #footer {
				text-align: center;
		    padding: 4em 0 4em 0;
	  }

	  #footer > .row {
				padding: 2em 0 2em 0;
	  }

	  #footer-wrapper h2.major {
				margin: 0 0 1em 0;
	  }

	  #footer-wrapper h3.major {
				margin: 0 0 1em 0;
	  }

}


/* #MOBILE */

#navPanel, #titleBar {
	  display: none;
}

@media screen and (max-width: 850px) {


	  /* #BASIC MOBILE */

  	html, body {
				overflow-x: hidden;
	  }

	  body, input, textarea, select {
				line-height: 1.75em;
				font-size: 8pt;
				letter-spacing: 0;
	  }

	  h2, h3, h4, h5, h6 {
				font-size: 1.5em;
				margin: 0 0 0.5em 0;
	  }

	  h2.major {
				text-align: left;
		    margin: 0.775em 0 0.75em 0;
	  }

	  h2.major span {
				top: -0.775em;
				padding: 0 0 0 0;
	  }

	  h3 {
				font-size: 1.25em;
	  }

	  h3.major {
				text-align: center;
				margin: 0.775em 0 0.75em 0;
	  }

	  h3.major span {
				top: -0.775em;
				padding: 0 0 0 0;
  	}


	  /* #SECTION MOBILE */

	  section.box.feature, article.box.feature {
    		clear: both;
				margin: 0 0 4em 0 !important;
				text-align: center;
	  }

	  section.box.feature-grid {
				margin-bottom: 1em;
	  }

	  header p {
				font-size: 1.5em;
				line-height: 1.5em;
	  }


  	/* #LIST MOBILE */

	  ul.special li {
				margin: 0.5em;
	  }

	  ul.special li:hover {
				top: 0;
	  }

	  ul.special a {
				width: 8em;
				height: 8em;
				border-radius: 4.75em;
	  }

	  ul.special a:before {
				font-size: 48px;
	  }

	  ul.contact li {
				margin: 0 0.25em 0.35em 0;
				top: 0 !important;
	  }

	  ul.actions li {
				display: block;
				padding: 0;
				margin: 0.75em 0 0 0;
	  }

	  ul.actions li:first-child {
				margin-top: 0;
	  }

	  ul.menu li {
				display: block;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
	  }


	  /* #BOX MOBILE */

	  .box.highlight h2 {
				font-size: 2.25em;
				line-height: 1.25em;
				margin: 1.5em 0 0.5em 0;
	  }

	  .box.highlight header > p {
				margin: 0 0 0.75em 0;
	  }

	  .box.highlight br {
				display: none;
	  }

	  .box.post-summary {
				margin: 0 !important;
	  }

	  .box.post-summary h3 {
				font-size: 1.25em;
	  }

	  .box.post h3 {
				font-size: 2.25em;
				line-height: 1.25em;
				margin: 0 0 0.5em 0;
	  }

	  .box.post header > p {
				margin: 0 0 0.75em 0;
	  }

  	.box.post ul.meta {
				margin: 0 0 0.5em 0;
	  }

	  .box.post header {
				margin: 0 0 3em 0;
	  }

	  .box.page-content h2 {
				font-size: 2.25em;
				line-height: 1.25em;
				margin: 0 0 0.5em 0;
				text-align: center;
	  }

	  .box.page-content img {
				width: 1.2em;
				margin: -10px 0 0 10px;
				vertical-align: middle;
	  }

	  .box.page-content header > p {
				margin: 0 0 0.75em 0;
	  }

	  .box.page-content ul.meta {
				margin: 0 0 0.5em 0;
	  }

	  .box.page-content header {
				margin: 1.5em 0 3em 0;
  	}


	  /* #SIDEBAR MOBILE */

	  .sidebar {
				border-top: solid 2px #e7eae8;
				border-bottom: solid 2px #e7eae8;
        padding: 5em 0 5em 0;
				margin-top: 5em;
	  }

	  .sidebar > section {
				margin: 0 0 5em 0 !important;
	  }

	  .sidebar > section:last-child {
				margin: 0 !important;
	  }


		/* #CONTENT MOBILE */

	  .content {
				padding-top: 3em;
  	}

  	.homepage .content {
				padding-top: 0;
  	}


	  /* #WRAPPERS MOBILE */

	  #banner-wrapper {
				padding: 9em 0 5em 0;
	  }

	  #main-wrapper {
				border-top-width: 0;
				border-bottom-width: 5px;
	  }

	  .homepage #main-wrapper {
				border-top-width: 15px;
	  }


  	/* #HEADER MOBILE */

	  #header {
				display: none;
  	}


  	/* #NAV MOBILE */

	  #nav {
				display: none;
	  }


  	/* #BANNER MOBILE */

	  #banner {
				padding: 2.5em 20px;
				margin: 0 !important;
	  }

	  #banner h2 {
				font-size: 2.25em;
				line-height: 1.25em;
				margin: 0 0 0.5em 0;
  	}

	  #banner p {
				margin: 0 0 0.5em 0;
  	}

	  /* #MAIN MOBILE */

	  #main {
				padding: 1em 20px 1em 20px;
	  }


  	/* #FOOTER MOBILE */

	  #footer {
				padding: 4em 20px 2em 20px;
	  }

	  #footer > .row {
				padding: 1em 0 1em 0;
	  }


	  /* #OFF-CANVAS NAVIGATION MOBILE */

  	#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
  	}

	  #titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background-color: rgba(21, 38, 23, 0.8);
				background-image: url("images/overlay.png");
   	}

  	#titleBar .title {
				display: block;
				position: relative;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1.25em;
				line-height: 44px;
				color: #fff;
				z-index: 1000;
				text-align: center;
	  }

	  #titleBar .toggle {
				position: absolute;
		    left: 0;
				top: 0;
				width: 80px;
				height: 60px;
				z-index: 1001;
	}

	  #titleBar .toggle:before {
				display: inline-block;
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				left: 0;
				top: 0;
				background: #336791;
				width: 44px;
				height: 44px;
				content: '\f0c9';
				color: #fff;
				text-align: center;
				line-height: 44px;
				font-size: 20px;
  	}

	  #titleBar .toggle:active:before {
				background-color: #666;
  	}

	  #navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background-color: #353c37;
				background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				background-repeat: repeat, no-repeat;
				background-size: auto, 100% 100%;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1.25em;
				box-shadow: inset -3px 0 10px 0 rgba(0, 0, 0, 0.25);
  	}

	  #navPanel nav {
				position: relative;
				z-index: 1000;
  	}

	  #navPanel .link {
				display: block;
				color: inherit;
				text-decoration: none;
	 			height: 44px;
				line-height: 44px;
				padding: 0 1em 0 1em;
				color: #888;
				color: rgba(255, 255, 255, 0.5);
				border-top: solid 2px rgba(87, 93, 89, 0.15);
  	}

	  #navPanel .link:first-child {
				border-top: 0;
  	}

	  #navPanel .indent-1 {
				display: inline-block;
				width: 1em;
	  }

	  #navPanel .indent-2 {
				display: inline-block;
		    width: 2em;
		}

	  #navPanel .indent-3 {
		    display: inline-block;
		    width: 3em;
	  }

	  #navPanel .indent-4 {
	    	display: inline-block;
		    width: 4em;
  	}

  	#navPanel .indent-5 {
	    	display: inline-block;
		    width: 5em;
  	}

	  #navPanel .depth-0 {
		    color: #888;
  	}

    #navPanel .depth-0:hover {
        color: #fff;
    }

  	body.navPanel-visible #page-wrapper {
	    	-moz-transform: translateX(275px);
		    -webkit-transform: translateX(275px);
		    -ms-transform: translateX(275px);
		    transform: translateX(275px);
	  }

	  body.navPanel-visible #titleBar {
		    -moz-transform: translateX(275px);
		    -webkit-transform: translateX(275px);
		    -ms-transform: translateX(275px);r
		    transform: translateX(275px);
  	}

	  body.navPanel-visible #navPanel {
		    -moz-transform: translateX(0);
		    -webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		    transform: translateX(0);
	  }

    ul.divided-right > li {
		    border-right: 0;
	  }

	  h2.major {
		    border: 0;
		    text-align: center;
	  }

	  h3.major {
		    border: 0;
	  }

	  ol, ul, li {
	    	list-style: none;
	  }

}


/* #NO-MARGIN */

h2.major.no-margin {
	  margin: 0;
	  text-align: center;
}

h3.major.no-margin {
  	margin: 0;
	  text-align: center;
}

.box.features.no-margin {
  	margin: 0;
}


/* #JCAROUSEL */

.jcarousel li {
	  margin-left: 10px;
}

.jcarousel blockquote {
	  border-left: none;
}

.jcarousel blockquote p:before {
	  content: "\f10d";
	  font-family: 'Fontawesome';
	  float: left;
	  margin-right: 10px;
}


/* #CONTRIBUTOR GREYBOXES */

/**
* Used on contributors.html.
*/

.contributorLeftBox {
  	background-color: #336791;
	  border-color: #336791;
	  color: #fff;
}

.contributorRightBox {
	  background-color: #fff;
 	  color: #666670;
  	padding-top: .5em !important;
}

.contributorRightBox p {
    margin: 0 0 0 15px;
  	min-height: 6em;
}

.contributorRightBoxAlt {
  	background-color: #e7eae8;
	  color: #666670;
	  padding-top: .5em !important;
}

.contributorRightBoxAlt p {
    margin: 0 0 0 15px;
  	min-height: 6em;
}

.contributorBox {
  	margin-bottom: 2em;
}

.contributorFaux {
	  background-color: #336791;
	  border-bottom: #fff;
}

/* #CONTRIBUTOR GREYBOXES MOBILE */

@media screen and (max-width: 736px) {

	  .contributorRightBox p {
		    margin-left: 0;
	  }

	  .contributorRightBoxAlt p {
		    margin-left: 0;
	  }

}


/* #CONTRIBUTOR GREYBOXES TABLET */

@media screen and (min-width: 737px) and (max-width: 850px) {

	  .contributorRightBox p {
		    margin-left: 0;
	  }

	  .contributorRightBoxAlt p {
		    margin-left: 0;
	  }

}


/* #SIDEBAR UL STYLING */

/**
* !Bugfix --
* Need to fix the element select to where it's for sidebar ul and not about.html only.
*/

.about.ul {
    list-style-type: circle;
    padding-left: 1.3em;
}


/* #SIDEBAR TABLET */

@media screen and (min-width: 737px) and (max-width: 1200px) {

    .sidebar {
		    padding-left: 15px;
    }

}


/* #STYLEDSELECT */

/**
* Used on mailinglists.html as part of the mailinglist subscribe functionality.
*/

.styledSelect, .styledInput {
  	width: 100%;
	  height: 34px;
	  overflow: hidden;
	  background-color: #fff;
	  border: solid 2px #e7eae8;
}

.styledInput[name="search"] {
    width: 98%;
    height: 3.6em;
}

/* #MAILING LISTS SEARCH & SUBMIT FUNCTIONALITY */

/**
* Used on mailinglists.html.
*/

.mailListSubmit {
  	float: right;
}

form[name="searchMailingList"] {
	  margin-bottom: 4em;
}

select {
    padding: 3px;
  	width: 100%;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Targeting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select {
        padding-right: 18px;
    }

}


/* #LABEL */

label {
    position: relative;
}

label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

label:before {
    content: '';
    right: 6px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #f8f8f8;
    position: absolute;
}
